@import url(https://fonts.googleapis.com/css?family=Karla:700);
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua);

body {
  text-align:center;
  font-family: Arial;
  font-size:24px;
  background-image:url(../images/HMB.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2,p{
  color:black;
}
h1{
  font-family: 'Uncial Antiqua', cursive;
  font-weight:bold;
  font-size: 100px;
  text-transform:capitalize;
  text-align:center;
}
h2{
    font-family: 'Karla', sans-serif;
    font-style:italic;
}
nav{
    font-family: 'Karla', sans-serif;
    color:black;}

p{
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-size:50px;
  line-height:1.5em;
  margin:1em auto;
}
